.carousel-container {
  position: relative;
  width: 80%; /* Minskar bredden något för att centrera karusellen */
  margin: 0 auto; /* Centrera karusellen */
  overflow: hidden;
}

.carousel-item {
  position: relative; /* Viktigt för att placera barn-element */
  min-width: 200px; /* Minskar storleken på korten */
  margin: 1px;
  flex-shrink: 0;
  text-align: center;
  border: none; /* Ingen kantlinje för renare utseende */
  padding: 0; /* Ta bort padding för att maximera utrymmet för bilden */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Djupare skugga för bättre kontrast */
  height: 450px; /* Sätter en fast höjd för alla kort */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrerar innehållet vertikalt */
  overflow: hidden; /* Döljer överflödig text */
}

.carousel-image {
  width: 100%; /* Behåller full bredd inom item */
  height: 100%; /* Sätt höjden till 100% för att fylla kortets höjd */
  object-fit: cover; /* Se till att bilder inte förvrängs och fyller hela utrymmet */
  border-radius: 10px;
  margin: 0; /* Ta bort marginaler för att säkerställa att bilden fyller hela kortet */
  transition: filter 0.3s ease; /* Övergång för filter-effekten */
  border: 2px rgba(0, 255, 13, 0.144) solid;
}

.button-container {
  display: flex; /* Använd flexbox för att ordna knapparna */
  justify-content: space-between; /* Se till att knapparna är på varsin sida */
  position: absolute; /* Positionera den över bilden */
  top: 10px; /* Justera avståndet från toppen av bilden */
  left: 10px; /* Lämna lite utrymme från vänster */
  right: 10px; /* Lämna lite utrymme från höger */
  z-index: 100; /* Se till att knapparna ligger ovanpå */
}

/* Visa hjärtat endast vid hover */
.carousel-item:hover .heart-icon-container {
  display: block; /* Visa ikonen vid hover */
}

.edit-button {
  z-index: 100; /* Se till att den ligger ovanpå */
}

.heart-icon-container {
  z-index: 100; /* Justera så att den hamnar på önskad plats */
  display: none; /* Döljer hjärtikonen som standard */
}

/* Hover-effekt för att visa textinformation */
.carousel-item:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Mörk överlagring */
  z-index: 1; /* Sätter överlagringen framför bilden */
}

.carousel-item:hover h3,
.carousel-item:hover p {
  opacity: 1; /* Visar texten vid hover */
}

.carousel-item h3,
.carousel-item p {
  margin: 0; /* Tar bort marginal för h3 och p */
  color: white; /* Vit textfärg för kontrast mot mörk bakgrund */
  opacity: 0; /* Döljer texten som standard */
  transition: opacity 0.3s ease; /* Smidig övergång för opacity */
  position: absolute; /* Gör så att texten kan placeras ovanpå bilden */
  left: 15%; /* Flytta texten närmare vänster kant */
  right: 15%; /* Flytta texten närmare höger kant */
  z-index: 2; /* Se till att texten ligger ovanpå överlagringen */
  text-align: center; /* Centrera texten */
  font-weight: 900;
  font-size: large;
}

.carousel-item h3 {
  top: 30%; /* Placera h3 närmare toppen */
  font-size: 20px;
}

.carousel-item p {
  top: 55%; /* Placera den första p närmare h3 */
  margin-top: 5px; /* Justera avståndet mellan h3 och första p */
}

.carousel-item p:nth-of-type(2) {
  top: 65%; /* Placera den andra p närmare den första */
  margin-top: 5px; /* Justera avståndet mellan de två p-taggarna */
}

.swiper-button-next,
.swiper-button-prev {
  color: rgba(40, 167, 69, 1);
  border-radius: 50%; /* Rundade hörn */
  padding: 10px; /* Lägg till padding för att göra knapparna större */
  width: 50px; /* Gör knapparna bredare */
  height: 50px; /* Gör knapparna högre */
  position: absolute; /* Gör dem positionerade relativt till karusellen */
  top: 50%; /* Centrera vertikalt */
  transform: translateY(-50%); /* Justera så de verkligen är centrerade */
  z-index: 10; /* Se till att de ligger ovanpå bilden */
}

.swiper-button-next {
  right: -10px; /* Flytta knappen utanför bilden till höger */
}

.swiper-button-prev {
  left: -10px; /* Flytta knappen utanför bilden till vänster */
}
