/* firebase-overrides.css */
.firebaseui-container {
  background-color: #052e16;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.firebaseui-idp-button {
  background-color: #052e16;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  color: white;
}

.firebaseui-idp-button:hover {
  background-color: #052e16;
}

.firebaseui-textfield {
  width: 100%;
  color: #052e16;
  margin-bottom: 1rem;
}

.firebaseui-input {
  border: 1px solid #052e16;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: none;
}

.firebaseui-title {
  color: #dcfce7;
  font-size: 1.2em;
}

.firebaseui-label {
  display: none;
}

.firebaseui-input:focus {
  border-color: #166534; /* Focus state with purple */
  outline: none;
  box-shadow: 0 0 0 2px rgba(167, 139, 250, 0.5);
}

.firebaseui-button {
  background-color: #166534; /* Purple submit button */
  color: white;
  padding: 0.75rem;
  width: 100%;
  border-radius: 0.5rem;
}

.firebaseui-button:hover {
  background-color: #052e16;
}

.firebaseui-link {
  color: #052e16;
}

.firebaseui-link:hover {
  color: #052e16;
}
