/* Grundlayout */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

/* Flytande etikett (floating label) */
.floating-label input {
  width: 100%;
  padding: 10px;
  border: 1px solid #218838;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
}

.floating-label input:focus {
  outline: none;
  border-color: #00ff37;
}

.floating-label label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #616161;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: rgb(0, 0, 0);
  padding: 0 5px;
}

/* När användaren fyller i fältet */
.floating-label input:focus ~ label,
.floating-label input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #afafaf;
}

.floating-label input:focus {
  outline: none; /* Tar bort standard-fokusramen */
  border-color: #00ff37; /* Din anpassade färg */
  box-shadow: none; /* Tar bort eventuell skugga som orsakar den blå färgen */
}

/* Placeholder styling */
.floating-label input::placeholder {
  color: transparent;
}

.btn-submit {
  background-color: #218838;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #03bd12;
}

/* Felmeddelande */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
