.button-container {
  display: flex;
  justify-content: flex-end; /* Flytta alla knappar längst till höger */
  align-items: center;
  position: fixed; /* Fixerar knapparna så de alltid är synliga */
  right: 1rem; /* Avstånd från höger sida */
  top: 0px; /* Avstånd från toppen */
  z-index: 1000; /* Se till att de ligger ovanför andra element */
  background-color: black;
}

.header-container {
  margin-top: 4rem; /* Ger utrymme under knapparna */
  text-align: center;
  width: 100%; /* Se till att headern är centrerad och tar hela bredden */
}

/* Knappar */
.button {
  margin-left: 1rem; /* Skapa utrymme mellan knapparna */
  border: none;
  background: none;
  cursor: pointer;
  color: #218838;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  font-size: large;
}

.button:hover {
  color: #01d613; /* Ljusare grön färg */
  transform: scale(1.1); /* Gör texten lite större */
  background-color: transparent; /* Ingen bakgrundsfärg */
}
