/* navbar.css */

.button-container {
  display: flex;
  align-items: center;
  position: fixed; /* Fixa positionen så att knapparna stannar högst upp */
  left: 95rem; /* Justera för att placera dem i det högra hörnet */
  top: 1rem; /* Justera för att placera dem i det övre hörnet */
  z-index: 1000; /* Se till att div:en ligger ovanför andra element */
}

.header-container {
  margin-top: 3rem; /* Justera för att ge utrymme för knapparna */
  text-align: center;
}

/* Knappar */
.button {
  margin-left: 1rem; /* Skapa utrymme mellan knapparna */
  border: none;
  background: none;
  cursor: pointer;
  color: #218838;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  border: none;
  background: none; /* Ingen bakgrund */
}

.button:hover {
  color: #01d613; /* Ljusare grön färg */
  transform: scale(1.1); /* Gör texten lite större */
  border: none;
  background: none; /* Ingen bakgrund */
}
