#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Header.css */

.no-scroll {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 100px;
  height: 100vh;
  text-align: center;
  transition: height 1s ease-in-out;
}

.header.shrink {
  height: 35vh;
}

.netflix-logo {
  width: 240px;
  height: auto;
  margin-bottom: 20px;
  animation: fadeInLogo 2s ease-in-out;
  transition: transform 1s ease-in-out;
  filter: hue-rotate(90deg) saturate(500%);
}

.header.shrink .netflix-logo {
  transform: scale(0.8);
}

.header-title h1 {
  color: red;
  font-size: 3.5rem;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 0;
  animation: fadeInText 2s ease-in-out;
}

/* Animering för logotypen */
@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animering för texten */
@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
